<div class='container'>
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <%= form_for @post do |p| %>
                <div class = "form-group">
                    <%= p.label :title%>
                    <%= p.text_field :title %>
                </div>
                <div class = "form-group">
                    <%= p.label :body %>
                    <%= p.text_area :body , cols: 80, rows: 50 %>
                </div>
                <%= p.submit "Update post" , class: 'btn btn-outline-dark' %>
            <% end %>
        </div>
    </div>
</div>
